* {
    padding: 0px;
    margin: 0px;
}

.body {
    font-family: "Young Serif", serif;
}

.container {
    padding: 50px;
}

.one {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.one__contact {
    color: white;
    background-color: orangered;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

.one__name {
    font-size: 60px;
    margin: 10px;
}

.one__role {
    font-size: 30px;
    margin-top: 10px;
}

.five,
.two,
.three,
.four {
    margin-top: 20px;
}

.five__desc,
.two__desc,
.three__desc,
.four__desc {
    margin-top: 20px;
}

.four {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.four__title a {
    color: aqua;
}

.four__desc {
    padding-bottom: 5px;
}

.two li,
.three li {
    list-style: none;
}

.two {
    background-color: #6260F7;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
}

.three {
    background-color: orangered;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    height: 200px;
}
.six {
    margin-top: 20px;
}
.six__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.six__textarea{
    padding: 10px;
    border: solid black 1px;
}
.six__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    border: none;
}
.six__text{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}